config.json
pool/config.json
data

shared/__pycache__
pool/__pycache__
pool/bitcoin/__pycache__
pool/rounds/__pycache__
pool/web/__pycache__
pool/workers/__pycache__
shared/kernels/__pycache__
tools/__pycache__
